*{margin: 0px; padding: 0px;} /* 여백 제거 */
li{list-style-type: none;} /* 글머리 제거 */

#warp{width: 1500px; height: 1000px; border: solid 1px black; }

.inputmenu{text-align: center;  display: flex; 
justify-content: center; margin: 50px 30px 50px 10px;}

.inputmenu input{margin: 5px; height: 20px;}
.inputmenu button{margin: 5px; height: 25px;}


#table table{ width: 600px; border-color: green;}


#heade h1 { text-align: center; margin-top: 100px;}

