@charset "UTF-8";
/* 전체 설정 */
*{padding: 0px; margin: 0px; font-family: "맑은 고딕";}

/* a태그 초기설정 */
a{color: black; text-decoration: none;}



/* 글머리 제거 */
li{list-style-type: none;} 

#header{
	
	width : 1200px;  /* pc웹 기준 권장 사이즈 1100~1300px; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	padding: 10px;

}
.h_logo img{ height: 30px;}

.h_menu li{ display: inline-block; padding: 0px 20px;}


/* 본문 시작 */



#main_back {
	width: 1200px;
	display : flex;
	margin: 0 auto;
	flex-wrap: wrap;
}

.main_1 img{ width:550px; height: 400px; display: flex; margin: 0px 20px;}

.main_1{
		display: flex;
		margin: 80px 10px;
}
.main_2 img{ width:550px; height: 400px; display: flex; margin: 0px 20px;}

#main_back2{width: 100%; height: 550px; background-color:#EDEDED; }


.main_2{
		width:1200px;
		display: flex;
		margin: 0 auto;
		padding-top: 80px;
}

.main_back2{width: 100%; background-color: #EDEDED; margin: 0 auto; text-align: center; }


.main_top1{
	font-size: 30px;
	font-weight: bold;

}
.main_top2{
	font-size: 20px;
	font-weight: bold;
}

.main_img1 li{
	margin: 15px 0px;
}
.mian_img2 li{
	margin: 15px 0px;
}

.main_message2{
	width: 1200px; text-align: center; margin: 0 auto; 	position: relative; 
	}


/* 대표 이미지 */

#main_img{
	width : 100%;
	height : 350px; /* 사이즈가 있어야 백그라운드 이미지가 들어감 */
	background-image: url("img/sub_intro.jpg");
	background-repeat: no-repeat;
	background-position: center;

}
.position{
	position: relative; /* 상대 위치 */
	width: 1200px;
	height : 100px;
	margin: 0 auto;
}


 

/* 푸터 시작*/

#footerback{
	width:100%;
	height:150px;
	background-color:#282B31;
	padding-top: 30px;
}

.ft_info a{
	color: white; 
}

.ft_center{ 
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	color: white;
	margin-top: 10px;
}