@charset "UTF-8";

.wrap{width: 100%; margin: 0 auto;} 

.hrmForm{margin : 0 auto;
	width : 1200px;
    display: flex;
    height: 110px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
	}
.preimg{width: 100px; height: 100px; }
.smig2{width: 150px; height: 100px; }
.hrmForm input {width: 150px; height: 30px;}
.sprint{width: 1200px;}
.smenu{display: flex;}
.sbtn{height: 30px; width: 60px; font-size: 15px;}
.sprint{width: 1200px; margin: 0 auto;}
.smenu{
	display: flex;
	justify-content: space-between;
	width: 1000px;
	margin: 0 auto;
	}
.smenu div{
	width: 150px; 
	align-items: center;
	text-align: center;
	align-content: center;
}
.sinfo{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1000px;
	margin: 0 auto;
	align-items: center;
	text-align: center;
	align-content: center;
	}
.sinfo div{
	
	width: 150px;
	height: 110px;line-height: 110px;

}
	
.infowarp{
	display : fleax;
	justify-content: space-between;
}