@charset "UTF-8";

.wrap{ width: 1200px; margin: 50px auto; 	font-family : 'omyu_pretty';}

.caltop{display: flex; justify-content: center;}

.caltop button { 
	background-color: white; border: none; 
	font-size: 30px; color: red; 
	cursor: pointer; /* 마우스 모양 설정 pointer / zoom-in , out 등등~*/}
/*캘린더 상단 월 */
.caltop h3 { margin: 0 20px; color: red}
/* 일~ 1~ 구역 */
.calendar{
	display: flex;  
	flex-wrap: wrap;/* 하위 요소가 사이즈가 넘을경우 알아서 사이즈 줄임이 기본값 = no-wrap/ wrap 해줘야 사이즈 줄이지 않고 줄바꿈 처리 함 */
	}
.calendar div {
	width: 160px;
	border: 1px solid #eeeeee;
	height: 100px;
}	
.week{ height: 30px !important;/* !important 겹칠때 우선순위 주는 방법 */
 background-color: #e8e8e8; font-size: 18px; text-align: center;}
 
.sunday{background-color: red; color: white;}


		/* ★★★★★★★★★★★★★★모달 만드는 방법★★★★★★★★★★★★★★★★ */
/* 모달 전체 구역 */

.modalwrap{
	position: fixed; width: 100%; height: 100%;
	top : 0px; background-color: rgba(0 , 0 , 0 , 0.6);
	display: none; justify-content: center; align-items: center; /* 가로 세로 가운데 */
	/* display 끄기 ( none ) , 켜기 ( flex ) */
}

/* 모달 내용 박스 구역 */
.modal{
	background-color: white; width: 500px; height: 300px;
	padding: 10px; border-radius: 30px;
}
.modalbtn{text-align: right;margin-top: 30px;}

		/* ★★★★★★★★★★★★★★모달 만드는 방법★★★★★★★★★★★★★★★★ */



/* 일정 출력 */



.content{background-color: red; color: white; margin: 3px; font-size: 15px;
		display: block; /* span 태그의 기본은 inline 이기 때문에 사이즈 적용x 사이즈 적용위해 블럭 사용 */
		/* 해당 구역보다 내용물이 커지면(구역보다 텍스트 길이가 길면)  ...... 으로 표시 */

		/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
		overflow: hidden; /* 넘치면 해당 부분 숨기기 */
		white-space: nowrap; /* 만약에 텍스트가 커지면 자동 줄바꿈 해제 */ 
		text-overflow: ellipsis; /* 생략, 단축 시키다 ... 으로 만든다 */
		/* overflow , white-space , text-overflow  세개는 세트다  */
		/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */		
		
}






