@charset "UTF-8";

*{ padding: 0px; margin: 0px;} /* 여백 제거 */

li{list-style-type: none;} /* 글머리 제거 */

a{color: black; text-decoration: none;} /* a태그 색상, 밑줄 제거 */

/* 페이지 가로 사이즈 1200px  */


/* 외부폰트 */

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



.head_menu{
	display: flex; /* 가로 배치 */
	justify-content: space-around; /* 가로 간격 배치 */
}