@charset "UTF-8";

/* 여백 제거 */
*{padding: 0px; margin: 0px; font-size: 12px;}

/* 글머리 제거 */
li{list-style-type: none;}

/* a 초기화 */
a{color: black; text-decoration: none;}

.top_menu{
	display: flex; 	
	justify-content:flex-end;  /* 오른쪽 정렬 */
	border-bottom: solid 1px #dbdbdb;
	padding: 10px; 
	font-size: 10px;
	align-items: center; /* 하위 요소들의 세로 정렬 */
	margin-right: 20px;
	height: 25px;
	}
.line{padding: 0 15px;}

.main_menu{
	display: flex; 	
	justify-content:space-between; /* 오른쪽 정렬 */
	padding: 10px; 
	font-size: 10px;
	align-items: center; /* 하위 요소들의 세로 정렬 */
	height: 50px;
	margin: 0px 50px 0px 30px;
	position: sticky;
	top: 0px;
	z-index: 1;
	background-color: white;
	opacity: 0.8;/* 배경요소 투명도 1=100% , 0.5 = 50% */
} 
/* sticky 사용 조건
	1. 상위 부모의 높이 사이즈 안에서 고정이 됨 / fixed [디바이스에 맞춤]
	2. top right left bottom 1개 이상 필수!!
	3. 부모요소 overflow 속성 사용금지
 */


.main_menu ul{
	display: flex; 
	justify-content:space-between;
	align-items: center;
	font-weight: bold;
	width: 70%;
}
	
/* 커서(포커스) 활성화 되었을때 테두리 */
*:focus{outline: none;}	
	
/* 돋보기 이미지 */
.searchbox img{ height: 15px;}

/* 검색 input */
.searchbox input{border: none; padding: 5px;}
.searchbox{border-bottom: 1px solid;}




.top_menu_icon{width: 20px; vertical-align: middle; /* 세로 정렬 */}
.main_menu_icon{width: 150px; margin: 0px 10px;}
.main_menu_point{color: red;}


/* 드랍 메뉴 */
.drop_menu{position: relative;}

.drop_menu .sub_menu{
	position: absolute;
	display: none;
	width: 120px;
	background-color: white; /* 배경색 */

	padding: 10px 0px;
	text-align: center;
	left: -45px; top: 30px; /* 부모 기준으로 움직임 */
	
}

.drop_menu .sub_menu1{
	position: absolute;
	display: none;
	width: 120px;
	background-color: white; /* 배경색 */

	padding: 10px 0px;
	text-align: center;
	left: -40px; top: 30px; /* 부모 기준으로 움직임 */	
}
.drop_menu .sub_menu2{
	position: absolute;
	display: none;
	width: 120px;
	background-color: white; /* 배경색 */

	padding: 10px 0px;
	text-align: center;
	left: -30px; top: 30px; /* 부모 기준으로 움직임 */	
}


.drop_menu:hover .sub_menu{ display: block;}
.drop_menu:hover .sub_menu1{ display: block;}
.drop_menu:hover .sub_menu2{ display: block;}


/* 메인 이미지 */
#main_img {width: 100%;}

/* 컨텐츠 시작 */
#content{width: 1600px; margin: 0 auto; padding: 50px 0px;}

#content .title{font-size: 27px; text-align: center; font-weight: bold;}

#content .comment{font-size: 17px; text-align: center;color: #999999; margin: 30px;}


/* ------------------ 제품 1개 ----------------------- */



.item {width: 380px; } /* 1600 길이에 4개 나눠서 여백 감안해서 380 */

.item img{width: 100%} /* 부모의 사이즈를 따라간다 */

.color span{ /* span 요소의 display:inline = 사이즈 안먹힘 */
display:inline-block;
	width: 10px; height: 10px;
}
.color_review{display: flex; justify-content: space-between;}

.review{color: #808080; font-size: 15px; font-weight: bold;}

.item_name{ font-size: 15px; margin: 5px 0px 10px 0px;}
.item_size{ font-size: 14px; color: #595959;}
.item_price {position: relative; margin: 15px 0px;} /* 부모 기준 잡아주기 */
.item_price .discount{
	position : absolute; /* 자식을 오른쪽 끝으로 붙인다 */
	right: 0px; top: 0px;
	font-size: 14px; font-weight: bold; color: red;
}

.price{text-decoration: line-through; 
	color: #595959;
}

.item_icon img{width: 40px;}

.items{ display: flex; flex-wrap: wrap; justify-content: space-between;}

/* ------------------------푸터 1시작---------------- */



.top_ft{
	background-color: #f7f7f7;	
}
.content_ft{
	width: 1400PX; margin: 0 auto;
	display: flex; justify-content: space-between;
	padding: 50px;
}

.content_ft h3{ margin: 10px 0px; font-size: 16px;}


/* -----------------푸터2--------------------- */


.bot_ft_info{ text-align: center; margin: 0 auto;
margin: 50px 0px;
color: #9E9E9E;}





