@charset "UTF-8";

/* 여백 제거 */
*{padding: 0px; margin: 0px; font-size: 12px; font-family: 'S-CoreDream-3Light';}

/* 글머리 제거 */
li{list-style-type: none;}

/* a 초기화 */
a{color: black; text-decoration: none;}

#wrap{width: 1000px; height: 600px;
display: flex; align-items: center; margin: 0 auto;}

.sign{width: 400px; height:400px; 
border: solid 1px black; margin: 30px;}

.login{width: 500px; height:400px; 
border: solid 1px black; margin: 30px;}

.sid{width: 300px; height:30px; margin: 30px 50px; }

.spw{width: 300px; height:30px; margin: 0px 50px; }